<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body >
        <nav class="navbar ">
            <a class="navbar-brand" href="#">Todo List Website</a>
          </nav>
          
        
        <h1 class="add">Add to your list</h1>
<form action="/post" method="POST">
<p class="inputs">What is to be done ?:<input type="text" placeholder="Enter whatever you want " name="todo"></p>
<p class="inputs">Date:<input type="date" name="date"></p>
<p class="inputs">Time:<input type="time" name="time"></p>
<p class="inputs"><button  type="submit">Add</button></p>
</form>

<div class="todo">
    <h1 class="add">Your List-</h1>
    <ol type="1">
        <%for(let i of todolist ){%>
            <li class="li">
                <span><%=i.todo%> on <span><%=i.date%></span> at <span><%=i.time%></span> </span>
             </li>
             <div class="delete">
                <a id="a" href="/delete/?id=<%=i._id%>">Delete
                </a>
            <% } %>
          
    
            </div>
    </ol>
    </div>
    <style>
        .li{
            font-size: 30px;
            margin: 10px;
            color: yellow;
        }
    input{
        width: 400px;
        margin: 20px;
        
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(145, 132, 132);
            display: inline-block;
            text-align: center;
            margin-left: 350px;
            padding: 20px;
            background-color: grey;
            
            
        }
        .inputs{
            display: flex;
            flex-direction: column;
            display: block;
            margin: auto;
            justify-content: center;
            align-items: center;
        
        }
        .add{
            text-align: center;
            text-decoration: underline;
        }
        .todo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        
        }
        #a{
            color: black;
        }
        nav a{
            color:white;
        }
        body{
            background-color:rgb(182, 184, 61);
        }
        nav{
            background-color: black;
        }
        .delete a{
            border: 2px solid black;
            background-color: white;
        }
      
        
        
        
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>